<div ng-include="'components/navbar/navbar.html'"></div>


<div class='container'>
    <div class='row'>
        <div class='colf-lg-8'>
            <div class='col-lg-4 inline-block'>
                <h1 class='col-lg-1' ng-repeat="number in [0,1,2,3,4,5,6,'7+']">{{number}}</h1>
            </div>
            <div class='col-lg-4'>
                <div class="btn-group" dropdown is-open="status.isopen">
                  <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                    Class <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li ng-repeat='hero in heroes'><a ng-click='searchClass(hero)'>{{hero}}</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class='col-lg-8'>
        <div class='row'>
            <div class='col-lg-3'dir-paginate='card in cards | itemsPerPage: 12'>
                <img class='cardImg' src='{{card.img}}' ng-click='addCard(card, deck)'>
            </div>
        </div>
        <div class='row text-center'>
            <dir-pagination-controls></dir-pagination-controls>
        </div>
    </div>
    <div class='col-lg-4'>
        <div class='col-lg-2'><h5>{{cardCount}}</h5></div>
        <div class='col-lg-12' ng-repeat='card in deck'>{{card.qty}}  {{card.name}} {{card.cost}}</div>
    </div>
</div>
